.inicio {
    width: 200px;
    margin-top: 20px;
}

.regresar {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.input {
    width: 200px;
}

.titulo {
    font-family: "Times New Roman";
    font-size: 40px;
    color: #fbff00;
}

.texto {
    font-family: "Times New Roman";
    font-size: 30px;
    color: #fbff00;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
}

.text {
    font-family: "Times New Roman";
    font-size: 25px;
    color: #d1bafc;
}